* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Oswald', 'sans-serif';
  --russian-violet: #816e94;
  --lilac: #eeb5eb;
  --russian-violet-2: #4b2142;
  --mint: #e5c1bd;

  --padding: 40px;
  @media (min-width: 750px) {
    --padding: 30px;
  }
}
body {
  height: 100vh;
  font-family: var(--primary-font);
  background: var(--russian-violet-2);
}
